= simple_form_for @node do |f|
  %fieldset
    %legend Node
    .span-11
      = f.error_messages
      = f.input :title, :input_html => {:class => 'title'}
      = f.input :homepage
      = f.input :twitter_search_key
      = f.input :stack_search_key
      = f.input :description, :input_html => {:rows => 8}
      = f.input :confidence, :collection => 1..5
    %fieldset.span-11
      %legend Helpful Links
      = link_to_add_fields "Add Link", f, :links 
      = f.simple_fields_for :links do |links_form|
        = render 'link_fields', :f => links_form
    %fieldset.span-11
      %legend Site Handles
      = f.simple_fields_for :site_handle do |handles_form|
        = render 'site_handle_fields', :f => handles_form
    = f.button :submit
