= simple_form_for @node do |f|
  %fieldset
    %legend Node
    .span-22
      = f.error_messages
      = f.input :title, :input_html => {:class => 'title'}
      = f.input :description, :input_html => {:rows => 8, :class => 'span-22'}
    .span-11
      = f.input :homepage
    %fieldset.span-11
      %legend Helpful Links
      = link_to_add_fields "Add Link", f, :links 
      = f.simple_fields_for :links do |links_form|
        = render 'link_fields', :f => links_form
    .span-22
      = f.button :submit
