= render 'shared/notice'
%h3 Nodes
%table
  - @nodes.each do |node|
    %tr
      %td= node.title
      %td= link_to 'Edit', edit_node_path(node), :id => "editNode_#{node.id}"
      %td= link_to 'Delete', node_path(node), :id => "deleteNode_#{node.id}"
