.span-24.last
  = render 'shared/notice'
.span-24#adminBox.contentBox.last
  %ul
    %li= link_to 'Add Node', new_node_path
.span-24.contentBox.last
  .span-8
    = render 'pages/home_node', :nodes => @nodes1
  .span-8
    = render 'pages/home_node', :nodes => @nodes2
  .span-8.last
    = render 'pages/home_node', :nodes => @nodes3
