.span-15.prepend-1.border
  - unless flash[:notice].blank?
    %p.notice= flash[:notice]
  .span-10
    - if @node.homepage.blank?
      %h2= @node.title if @node.homepage.blank?
    - else
      %h2= link_to @node, @node.homepage, :target => '_blank' unless @node.homepage.blank?
  .mediaLinks.span-5.last
    - unless @node.handles.blank?
      %ul.right
        - @node.handles.each do |key, value|
          %li= link_to_site_handle(key, @node.site_handle.link_to(key))
  .span-15.last
    %p= @node.description
    - unless @node.links.blank?
      %h3 Helpful Links 
      %ul
        - @node.links.each do |link|
          %li= link_to link.url, link.url
    - unless @node.tutorials.blank? 
      %h3 Tutorials
      %ul
        - @node.tutorials.each do |tutorial|
          %li= link_to "#{tutorial.title}", tutorial_path(tutorial)
    - unless @node.relationships.blank?
      %h3 Related Nodes
      %ul
        - @node.relationships.each do |r|
          %li= relationship_sentence_with_link(r, @node) + "<br/>".html_safe + link_to("more info", r, :class => "relationship_link", :id => "relationshipLink#{r.id}")
    %p.right= link_to "Edit", edit_node_path(@node)
    .right.span-3= render 'learned_form'
    = render 'nodes/confidence', :node => @node
= render 'nodes/buzz', :node => @node
