.span-24.last
  = render 'shared/notice'
.right#adminBox.contentBox.last
  %ul
    %li= link_to 'All Nodes', nodes_path
    %li= link_to 'Add Node', new_node_path
    %li= link_to "Edit Node", edit_node_path(@node)
.span-24.contentBox.last
  = render 'shared/page_header', :item => @node
  = render 'shared/site_handle_icons', :item => @node
  .span-24.last
    = render 'shared/user_knowledge_rating', :knowledgeable => @node, :knowledge_rating => @knowledge_rating
  .span-24.last
    %p= @node.description
.span-24.contentBox
  .span-8.border
    = render 'shared/link_section', :linkable => @node, :link => @link
  .span-8.border
    = render 'shared/tutorial_section', :item => @node
  .span-8.last
    = render 'shared/relationship_section', :node => @node
.span-24.contentBox.last
  = render 'nodes/buzz', :node => @node

