.span-24#adminBox.last
  %p.right= link_to "Edit Node", edit_node_path(@node)
.span-24.last
  = render 'shared/notice'
.span-24.contentBox
  = render 'shared/page_header', :item => @node
  = render 'shared/site_handle_icons', :item => @node
  .span-24.last
    %p= @node.description
    = render 'nodes/confidence', :node => @node
.span-24.contentBox
  .span-8.border
    = render 'shared/link_section', :linkable => @node, :link => @link
  .span-8.border
    = render 'shared/tutorial_section', :item => @node
  .span-8.last
    = render 'shared/relationship_section', :item => @node
.span-24.contentBox.last
  .span-8.border
    = render 'nodes/buzz', :node => @node

