.span-17.prepend-1.border
  - unless flash[:notice].nil?
    %p.notice= flash[:notice]
  %h2= @node.title
  %p= link_to @node, @node.homepage, :target => '_blank' unless @node.homepage.nil?
  %p= @node.description
- unless @node.links.empty?
  %h3 Helpful Links 
  %ul
    - @node.links.each do |link|
      %li= link_to link.url, link.url
.span-6.sidebar.last
  %h3 Related Nodes
  %ul
    - @node.relationships.each do |r|
      %li= relationship_sentence_with_link(r, @node)
