.span-17.prepend-1.border
  - unless flash[:notice].blank?
    %p.notice= flash[:notice]
  %h2= link_to @node, @node.homepage, :target => '_blank' unless @node.homepage.blank?
  %h2= @node.title if @node.homepage.blank?
  .right= render 'learned_form'
  - unless @node.handles.blank?
    .mediaLinks
      %ul
        - @node.handles.each do |key, value|
          %li= link_to_site_handle(key, @node.site_handle.link_to(key))
  %p= @node.description
  - unless @node.links.blank?
    %h3 Helpful Links 
    %ul
      - @node.links.each do |link|
        %li= link_to link.url, link.url
  %p.right= link_to "Edit", edit_node_path(@node)
.span-6.sidebar.last
  - unless @node.relationships.blank?
    %h3 Related Nodes
    %ul
      - @node.relationships.each do |r|
        %li= relationship_sentence_with_link(r, @node) + "<br/>".html_safe + link_to("more info", r, :class => "relationship_link", :id => "relationshipLink#{r.id}")
  - unless @tweets.blank?
    .tweets
      %h3 Tweets
      - @tweets.each do |tweet|
        %p
          = tweet['text'].html_safe
          %br
          %span= "@#{tweet['from_user']}"

