= form_for @relationship do |f|
  = f.error_messages
  = f.label :node1_id
  = f.select :node1_id, Node.all.collect {|n| [n.title, n.id]}
  = f.label :node2_id
  = f.select :node2_id, Node.all.collect {|n| [n.title, n.id]}
  = f.label :sentence1
  = f.text_field :sentence1
  = f.label :sentence2
  = f.text_field :sentence2
  = f.submit
