= simple_form_for @relationship do |f|
  %fieldset
    %legend Relationship
    .span-11
      = f.error_messages
      = f.association :node1
      = f.association :node2
      = f.input :sentence1, :placeholder => '%1 is related to %2'
      = f.input :sentence2, :placeholder => '%2 is related to %1'
    %fieldset.span-11
      %legend Helpful Links
      = link_to_add_fields "Add Link", f, :links 
      = f.simple_fields_for :links do |links_form|
        = render "link_fields", :f => links_form
    %fieldset.span-11
      %legend Site Handles
      = f.simple_fields_for :site_handle do |handles_form|
        .fields
          = handles_form.input :github, :input_html => {:class => "text"}, :br => false
          = handles_form.input :twitter, :input_html => {:class => "text"}, :br => false
    = f.button :submit
