.span-24#adminBox.last
  %p.right= link_to "Edit Relationship", edit_relationship_path(@relationship)
.span-24.last
  = render 'shared/notice'
.span-24.contentBox.last
  = render 'shared/page_header', :item => @relationship
  = render 'shared/site_handle_icons', :item => @relationship
  .span-24.last
    = render 'shared/user_knowledge_rating', :knowledgeable => @relationship, :knowledge_rating => @knowledge_rating
  .span-24.last
    %p= relationship_sentence_with_links(@relationship)
.span-24.contentBox
  .span-8.border
    = render 'shared/link_section', :linkable => @relationship, :link => @link
  .span-8.border
    = render 'shared/tutorial_section', :item => @relationship
