= javascript_include_tag 'd3.js'
= javascript_include_tag 'd3.layout.js'
= javascript_include_tag 'd3.geom.js'
#adminBox.last.contentBox.right
  %ul
    %li= link_to 'All Relationships', relationships_path
    %li= link_to 'Add Relationship', new_relationship_path
    %li= link_to "Edit Relationship", edit_relationship_path(@relationship)
.span-24.contentBox.last
  .span-20
    %h2= "#{@relationship.node1} and #{@relationship.node2}"
  .span-4.last.right
    = render 'shared/user_knowledge_rating', :knowledgeable => @relationship, :knowledge_rating => @knowledge_rating
  .span-24.last
    %p= relationship_sentence_with_links(@relationship)
  %hr.span-24
  .span-8.border
    = render 'shared/link_section', :linkable => @relationship, :link => @link
  .span-8.border
    = render 'shared/tutorial_section', :item => @relationship
