- if @knowledge_rating
  = simple_form_for [@node, @knowledge_rating], :remote => true do |f|
    = f.input :user, :as => :hidden
    = f.input :knowledgeable_id, :as => :hidden
    = f.input :knowledgeable_type, :as => :hidden
    = f.input :knowledge_level, :br => false, :as  => :hidden,:input_html => {:onchange => 'this.form.submit()'}
    - level = 1
    - @knowledge_rating.knowledge_level.times do
      = image_tag 'brainOn.png', :size => '32x32', :id => "knowledge_level_#{level}", :onclick => "brain_click(this, #{level})"
      - level = level + 1
    - (5-@knowledge_rating.knowledge_level).times do
      = image_tag 'brainOff.png', :size => '32x32', :id => "knowledge_level_#{level}", :onclick => "brain_click(this, #{level})"
      - level = level + 1
