#newLinkForm
  = simple_form_for [@item, @tutorial] do |f|
    %fieldset
      %legend Tutorial
      = f.error_notification
      .inputs
        = f.input :title
        = f.input :description, :input_html => {:class => 'span-23 thinHeightTextArea'}
        = f.input :content, :input_html => {:class => 'span-23 XLHeightTextArea'}
      .actions
        = f.submit
