#newLinkForm
  = simple_form_for [@item, @tutorial] do |f|
    %fieldset
      %legend New Link
      = f.error_notification
      .inputs
        = f.input :description
        = f.input :title
        = f.input :content
      .actions
        = f.submit
