#adminBox.contentBox.last.right
  %ul
    %li= link_to "Back to #{@item}", @item
    %li= link_to "Edit", edit_polymorphic_path([@item, @tutorial])
    %li= link_to "Destroy", polymorphic_path([@item, @tutorial]), :confirm => 'Are you sure?', :method => :delete
.span-24.contentBox.last
  .span-24.last
    %h3.clean= @tutorial.title
  .span-24
    %p.right= "Asked by: #{@tutorial.created_by}"
  .span-24.last
    %p 
      %em Short Answer:
      %br
      =@tutorial.description
.span-24.contentBox.last.tutorialContent      
  %p 
    %em Long Answer:
    %br
    = markdown(@tutorial.content)
  .span-24
    %p.right= "Most recently answered by: #{@tutorial.created_by}"
    
