.span-24
  = render 'shared/notice'
.span-24#adminBox.last
  %p.right
    = link_to "Edit", edit_polymorphic_path([@item, @tutorial])
    = link_to "Destroy", polymorphic_path([@item, @tutorial]), :confirm => 'Are you sure?', :method => :delete
    = link_to "View All", polymorphic_path([@item, :tutorials])
.span-24.contentBox.last
  = render 'shared/page_header', :item => @tutorial
  .span-24.last
    %p= @tutorial.description
.span-24.contentBox.last
  = markdown(@tutorial.content)
