.span-24
  = render 'shared/notice'
.contentBox.span-24.last
  #centerHome.span-18.push-3
    .span-6
      = image_tag("Wiki1.png")
      %h3 discover
      %p.quiet the Ruby and Rails ecosystem and the incredible community that has built it
    .span-6
      = image_tag("Search.png")
      %h3 document 
      %p.quiet your progress as you learn and help others in the community catch up
    .span-6.last
      = image_tag("Workspace2.png")
      %h3 develop 
      %p.quiet the skills you'll need to build incredible products with the people that will help you
  %hr.span-12.push-6.hr
  .span-18.push-3
    %ul
      %li= link_to "View all nodes and relationships", nodes_path

