= render 'shared/notice'
%h3 Links
%table
  - @links.each do |link|
    %tr
      %td= link.to_s
= simple_form_for [@linkable, Link.new] do |f|
  %fieldset
    %legend Links
    = f.error_messages
    = f.input :url
    = f.submit

