#menu
  %ul
    %li.current_page_item= link_to "Home", root_path
    %li= link_to "Home", root_path
    %li= link_to "Home", root_path
    %li= link_to "Home", root_path
    %li= link_to "Home", root_path
